body {
    background-color: rgb(194, 58, 58); /* testando webpack-server */
    background-image: url(../img/profile.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}